@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  height: 87.5%;
  width: 100%;
  mix-blend-mode: normal;
}


form {
  background-color: white;
}

